/* COLORS */

$color-Biscay: #173863;
$color-Azure: #1877f2;
$color-Picton: #3897f0;
$color-Nepal: #869CB9;
$color-OsloGray: #868E96;

$color-Snow: #ffffff;
$color-Porcelain: #f5f6f7;
$color-Iron: #dddfe2;
$color-AthensGray: #e9ebee;
$color-Alto: #dbdbdb;
$color-Silver: #c7c7c7;


$color-Gray: #929292;
$color-Tundora: #444444;
$color-Emperor: #525252;
$color-MineShaft: #333333;

