@include mat-core();

$primary: mat-palette($mat-blue, 800);
$accent:  mat-palette($mat-blue, 900);

$warn:  mat-palette($mat-red, 800);

$custom-theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,  
  )
));

@include angular-material-theme($custom-theme);


$primary: #1565c0;
$accent: #0d47a1;
$dark-blue: #163762;
$warn: #c62828;
$success: #388e3c;
$caution: #f9a825;
$warn-bg: #ffcdd2;
$success-bg: #c8e6c9;
$caution-bg: #fff9c4;
$black: #000000;
$gray1: #333333;
$gray2: #d5d5d5;
$gray3: #e8e8e8;
$gray4: #f7f7f7;
$white: #fff;