<div class="pad-24">
  <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <span class="header-text">Equipment Health Dashboad </span>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Equipment ID</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="equipmentId"
        placeholder="Enter a Equipment Id"
      />
      <button
        *ngIf="equipmentId"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="equipmentId = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="column">
    <div
      fxLayoutGap="12px"
      fxLayoutAlign="start stretch"
      fxLayoutAlign.gt-md="start start"
      fxLayout.gt-md="row"
      fxLayout="column"
    >
      <div
        fxLayout="column"
        fxFlex.gt-md="30"
        fxFlex
        fxLayoutGap="12px"
        fxLayoutAlign="start stretch"
      >
        <app-equipment-information
          [equipment]="equipment"
        ></app-equipment-information>
        <app-driver-information></app-driver-information>
      </div>

      <div
        fxLayout="column"
        fxFlex.gt-md="70"
        fxLayoutGap="12px"
        fxLayoutAlign="space-around stretch"
      >
        <app-equipment-history [equipment]="equipment"></app-equipment-history>
        <img /><img />
        <app-map class="full-height" [equipment]="equipment"></app-map>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
