<div class="pad-24 full-height">
  <div
    fxLayoutGap="12px"
    fxLayoutAlign="start center"
    fxLayoutAlign.gt-md="space-between stretch"
    fxLayout.gt-md="row"
    fxLayout="column"
  >
    <span class="header-text">Equipment Health Dashboad </span>
    <mat-form-field appearance="fill">
      <mat-label>Equipment ID</mat-label>
      <input
        matInput
        type="number"
        (keydown.enter)="getEquipmentData()"
        [(ngModel)]="equipmentId"
        placeholder="Enter a Equipment Id"
      />
      <button
        fxLayoutAlign="left"
        *ngIf="equipmentId"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="getEquipmentData()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="column">
    <div
      fxLayoutGap="12px"
      fxLayoutAlign="start stretch"
      fxLayoutAlign.gt-md="start start"
      fxLayout.gt-md="row"
      fxLayout="column"
    >
      <div
        fxLayout="column"
        fxFlex.gt-md="30"
        fxFlex
        fxLayoutGap="12px"
        fxLayoutAlign="start stretch"
      >
        <app-equipment-information
          [equipment]="equipment"
        ></app-equipment-information>
        <app-driver-information
          [equipment]="equipment"
        ></app-driver-information>
        <app-tire-health [equipment]="equipment"></app-tire-health>
      </div>

      <div
        fxLayout="column"
        fxFlex.gt-md="70"
        fxLayoutGap="12px"
        fxLayoutAlign="space-around stretch"
      >
        <app-equipment-history [equipment]="equipment"></app-equipment-history>
        <app-map class="full-height" [equipment]="equipment"></app-map>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
