@include mat-core();

$werner-theme-primary: mat-palette($mat-blue, 800);
$werner-theme-accent:  mat-palette($mat-blue, 900);

$werner-theme-warn:  mat-palette($mat-red, 800);

$werner-theme: mat-light-theme((
  color: (
    primary: $werner-theme-primary,
    accent: $werner-theme-accent,
    warn: $werner-theme-warn,  
  )
));

@include angular-material-theme($werner-theme);


$werner-theme-primary: #1565c0;
$werner-theme-accent: #0d47a1;
$werner-theme-dark-blue: #163762;
$werner-theme-warn: #c62828;
$werner-theme-success: #388e3c;
$werner-theme-caution: #f9a825;
$werner-theme-warn-bg: #ffcdd2;
$werner-theme-success-bg: #c8e6c9;
$werner-theme-caution-bg: #fff9c4;
$werner-theme-black: #000000;
$werner-theme-gray1: #333333;
$werner-theme-gray2: #d5d5d5;
$werner-theme-gray3: #e8e8e8;
$werner-theme-gray4: #f7f7f7;
$werner-theme-white: #fff;