.success {
    color: #388e3c;
    font-weight: 500;
    text-transform: uppercase;
}

.error {
    color: #c62828;
    font-weight: 500;
    text-transform: uppercase;
}

.warn {
    color: #f9a825;
    font-weight: 500;
    text-transform: uppercase;
}