.item-count {
    width: 32px;
    height: 69px;
    margin: 0 20.5px 3.6px 0;
    font-family: Roboto;
    font-size: 59px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 1.42px;
    text-align: right;
    color: #0076ff;
  }
  
  .fault-text {
    height: 50px;
    width: 143px;
    margin-top: 9.6px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000;
  }
  
  .maintenance-text {
    height: 50px;
    width: 235 px;
    margin-top: 14px;
    margin-bottom: 13px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000;
  }
  
  .severity-text {
    width: 220px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.15px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .layout-gap-top-30 {
    margin-top: 30px;
  }
  
  .layout-gap-top-20 {
    margin-top: 20px;
  }
  
  .layout-gap-left-20 {
    margin-left: 20px;
  }
  
  ::ng-deep .Low .mat-progress-bar-fill::after {
    background-color: #388e3c;
  }
  
  ::ng-deep .Medium .mat-progress-bar-fill::after {
    background-color: #f6a800;
  }
  
  ::ng-deep .High .mat-progress-bar-fill::after {
    background-color: #c62828;
  }
  
  ::ng-deep .Low .mat-progress-bar-buffer {
    background-color: #def8df;
  }
  
  ::ng-deep .Medium .mat-progress-bar-buffer {
    background-color: #ffefcc;
  }
  
  ::ng-deep .High .mat-progress-bar-buffer {
    background: #fadbd8;
  }
  
  .Low {
    color: #388e3c;
  }
  
  .Medium {
    color: #f6a800;
  }
  
  .High {
    color: #c62828;
  }
  
  .margin {
    margin-top: 20px;
  }
  