<mat-card class="basic-card" fxFlex>
  <mat-card-header fxLayout="row"> Equipment Health </mat-card-header>
  <mat-card-content fxLayout="row" class="margin">
    <div
      fxLayout="column"
      fxFlex="50"
      fxLayoutGap="15px"
      class="breakdown-events"
    >
      <div fxFlex="15">
        <span class="mat-body-2"><b>Scheduled Maintainence</b></span>
      </div>
      <div fxFlex="85" fxLayoutGap="12px" fxLayout="column">
        <div
          fxLayout="column"
          *ngFor="let scheduledMaintenance of equipment.scheduledMaintenances"
        >
          <div class="mat-body-1">{{ scheduledMaintenance }}</div>
        </div>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxLayout="column" fxFlex="50">
      <mat-tab-group class="mat-elevation-z0" fxFlex mat-align-tabs="start">
        <mat-tab label="Overview">
          <div class="pad-24">
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutGap="12px">
                <div class="item-count">{{ equipment.faultCodeCount }}</div>
                <div fxLayout="column">
                  <div class="fault-text">ACTIVE FAULT CODES</div>
                  <mat-progress-bar
                    class="{{ equipment.faultCodeSeverity}}"
                    mode="determinate"
                    value="75"
                  ></mat-progress-bar>
                  <div class="severity-text">
                    Severity: {{ equipment.faultCodeText }}
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="12px">
                <div class="item-count layout-gap-top-20">
                  {{ equipment.scheduledMaintenances.length }}
                </div>
                <div fxLayout="column">
                  <div class="maintenance-text layout-gap-top-30">
                    MAINTENANCE ITEMS SCHEDULED
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- <mat-tab label="Details" *ngIf="faultCodeCount > 0">
          <div class="layout-gap-left-20 layout-gap-top-20" fxLayoutGap="12px">
            <div
              fxLayout="row"
              fxLayoutGap="12px"
              *ngFor="let faultCode of equipmentHistoryData?.faultCodes"
            >
              <mat-icon
                class="{{ getFaultCodeIconColor(faultCode?.severity) }}"
                matTooltip="{{ FaultCodeSeverityMapping[faultCode?.severity] }}"
                matTooltipPosition="above"
                aria-label="Button that displays a tooltip when focused or hovered over"
                >report</mat-icon
              >
              <div fxLayout="column">
                <div class="mat-body-2">
                  Code: {{ faultCode?.faultCodeId }} |
                  {{ FeedTypeMapping[faultCode?.feedType] }}
                </div>
                <div class="mat-body-1">
                  {{ dateUtility.formatDateLocalTime(faultCode?.createdDate) }}
                </div>
                <div class="mat-body-1">{{ faultCode?.component }}</div>
              </div>
            </div>
          </div>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </mat-card-content>
</mat-card>
